@charset "utf-8";

#wrap{
    width: 80%;
    margin: 30px auto;
    font-size: 2em;
    font-weight: 600;
    line-height: 50;
    text-align: center;
    border: 1px solid yellow;
}

header,section,footer{
    border-radius: 10px;
}

header{
    height: 100px;
    background-color: gray;
}